*{ font-family: sans-serif; outline: none;}
body { background-image: url(../image/clock.jpg); }

.title {
     margin: 60px 0;
     width: 68%;
     text-align: center;
     height: 50px;
     line-height: 50px;
     color: #4CAF50;
     background-image: linear-gradient(to right, #1a1a1a 792px ,transparent );
}

form {
     background-color: #1a1a1a;
     width: 607px;
     height: 340px;
     padding: 25px;
     margin-left: 200px;
     box-shadow: 26px 18px 40px 0px black;
}
form h1 { 
     color: #4CAF50;
     text-align: center;
}

.inputField{
     border-radius: 5px;
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     box-sizing: border-box;
     
}
.inputField:focus {
     box-shadow: 0 0 11px 3px black inset;
}



.loginBtn {
     background-color: #4CAF50;
     border-radius: 5px;
     color: white;
     padding: 0px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
     font-size: 34px;
}
.remember{ color: white; }
.loginBtn:hover { opacity: 0.9; }
a{ color: #ff2121;}
a:hover { color: white; text-decoration: none;}

span.psw { float: right; }
.error { 
     color: #ff2121;
     font-size: 20px;
     position: absolute;
     top: 170px;
     left: 370px;
}
 